.accordion-panel {
    height: 0px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

.accordion-item {
    border-bottom: 0.5px dotted #868686;
    padding: 5px 1px;
    display: block;margin-left:5px;
}

    .accordion-item:hover {
        border-color: #d0d0d0;
    }

.accordion-panel {
    background: #f0f0f0;
    padding: 0px 3px;
    margin-bottom: 5px;
}

    .accordion-panel.active {
        border-left: 0.5px dotted #868686;
        
		margin-left:20px;
    }

    .accordion-panel p {
        margin: 5px 0px;
    }